@font-face {
font-family: 'Algerian';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Apple Braille Outline 6 Dot';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Apple Braille Outline 8 Dot';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Apple Braille Pinpoint 6 Dot';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Apple Braille Pinpoint 8 Dot';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arabic Transparent';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Black Standard';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Black';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Narrow Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Narrow Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Narrow Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Narrow';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial Unicode MS';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Arial';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Baskerville Old Face';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bauhaus 93';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bell MT Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bell MT Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bell MT';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Berlin Sans FB Demi';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Berlin Sans FB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bernard MT Condensed';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bodoni MT Poster Compressed';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Book Antiqua Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Book Antiqua Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Book Antiqua Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Book Antiqua';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bookman Old Style Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bookman Old Style Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bookman Old Style Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bookman Old Style';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bookshelf Symbol 7';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Bradley Hand ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Britannic Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Broadway';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Brush Script MT';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Calibri Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Calibri Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Calibri Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Calibri Light';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Calibri';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Californian FB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cambria Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cambria Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cambria Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cambria Math';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cambria';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Candara Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Candara Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Candara Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Candara';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Centaur';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Century Gothic Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Century Gothic Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Century Gothic Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Century Gothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Century';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Chiller';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Colonna MT';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Comic Sans MS Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Comic Sans MS';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Consolas Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Consolas Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Consolas Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Consolas';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Constantia Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Constantia Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Constantia Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Constantia';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Cooper Black';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Corbel Bold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Corbel Bold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Corbel Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Corbel';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Courier New Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Courier New Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Courier New Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Courier New';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Courier';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Ebrima';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Footlight MT Light';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Franklin Gothic Medium Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Franklin Gothic Medium';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Freestyle Script';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'French Script MT';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Gabriola';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Garamond Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Garamond Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Garamond';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Georgia Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Georgia Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Georgia Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Georgia';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Harlow Solid Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Harrington';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Helvetica';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'High Tower Text';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Impact';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Informal Roman';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Jokerman';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Juice ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Kristen ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Kunstler Script';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Bright Demibold Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Bright Demibold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Bright Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Bright';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Calligraphy Italic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Calligraphy';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Console';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Fax Halbfett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Fax Halbfett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Fax Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Fax';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Handwriting Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Handwriting';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Lucida Sans Unicode';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Magneto';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Malgun Gothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Marlett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Matura MT Script Capitals';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft Himalaya';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft JhengHei';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft New Tai Lue';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft PhagsPa';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft Sans Serif';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft Tai Le';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft YaHei';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Microsoft Yi Baiti';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MingLiU-ExtB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MingLiU_HKSCS-ExtB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Mistral';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Modern No. 20';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Mongolian Baiti';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Monotype Corsiva';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MS Gothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MS PGothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MS Reference Sans Serif';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MS Reference Specialty';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MS UI Gothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MT Extra';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'MV Boli';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Niagara Engraved';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Niagara Solid';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'NSimSun';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Old English Text MT';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Onyx';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Palatino Linotype Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Palatino Linotype Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Palatino Linotype Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Palatino Linotype';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Palatino';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Papyrus';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Parchment';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Playbill';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'PMingLiU-ExtB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Poor Richard';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Pristina';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Ravie';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe Print';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe Script';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe UI Light';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe UI Semibold';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe UI Symbol';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Segoe UI';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Showcard Gothic';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'SimSun';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'SimSun-ExtB';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Snap ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Stencil';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Sylfaen';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Symbol';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Tahoma Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Tahoma';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Tempus Sans ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Times New Roman Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Times New Roman Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Times New Roman Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Times New Roman';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Trebuchet MS Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Trebuchet MS Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Trebuchet MS Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Trebuchet MS';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Verdana Fett Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Verdana Fett';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Verdana Kursiv';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Verdana';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Viner Hand ITC';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Vivaldi';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Vladimir Script';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Webdings';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Wide Latin';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Wingdings 2';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Wingdings 3';
src: local('Arial');
font-style: normal;
}
@font-face {
font-family: 'Wingdings';
src: local('Arial');
font-style: normal;
}
